<html>

<head>

<link rel="stylesheet" href="styles.css">

</head>

<body>

<br>
<form action="/addCat" method="post">
    <div>
        <label>Cat Name:</label>
        <input type="text" name="catName" value="felix"/>
        <label>Cat Breed:</label>
        <input type="text" name="catBreed" value="felix"/>
        <label>Cat image:</label>
        <input type="text" name="catImage" value="felix"/>
        <label>Cat age:</label>
        <input type="text" name="catAge" value="10"/>
    </div>
    <div>
        <input type="submit" value="Add Cat"/>
    </div>
</form>

</body>


</html>
